{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: rgb(78, 236, 5);
	color: rgb(233, 24, 24);
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: rgb(221, 11, 11);
}

#footer-main a:hover{
	font-weight: bold;
	color: rgb(15, 13, 13);
}

#footer-main h6 a{
    color: rgb(4, 28, 238);

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <br/>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="mailto:courage@acuitytech.co.zw" style="margin-left: 1rem">Privacy Policy | @KumushaDeliveries 2020-2021</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

